<h1>TransCares#show</h1>
<p>Find me in app/views/trans_cares/show.html.erb</p>


<div class="provider-info">
	<p><%= @provider.first_name %> <%= @provider.last_name %></p>
	<p><%= @provider.address %></p>
	<p><%= @provider.role  %></p>
	<%= @provider.phone_number %>
	<%= @provider.waiting_period %>
</div>
<div>
	<ul>
		<li><%= link_to 'All Providers', providers_path %></li>
	</ul>
</div>

