<h1>TransCares#show</h1>
<p>Find me in app/views/trans_cares/show.html.erb</p>


<div class="provider-info">
	<p><%= @provider.first_name %> <%= @provider.last_name %></p>
	<p><%= @provider.address %></p>
	<p><%= @provider.role  %></p>
	<%= @provider.phone_number %>
	<%= @provider.wating_period %>
</div>


<%= link_to 'Home', providers_path %>

