<div class="provider-info">
  <p><%= image_tag @provider.image_url(:avatar)  %></p>
	<p><%= @provider.first_name %> <%= @provider.last_name %></p>
	<p><%= @provider.full_address %></p>
	<p><%= @provider.type %></p>
	<p><%= @provider.phone_number %></p>
	<p><%= @provider.waiting_period %></p>
</div>

<div class = "display-ratings">
    Overall Rating: 
    <% if @provider.ratings.present? %>
      <%= @provider.overall_rating %>%
    <% else %>
    No Ratings Avaliable - be the first to leave a rating!
  <% end %>
</div>

<div class = "rating-by-user">
  Your Rating: 
    <% if present_or_rated?(@provider) %>
      <%= @provider.ratings_by_user(current_user) %> 
      <%= link_to "Edit Rating", edit_provider_rating_path(@provider, @rating) %> 
    <% else %>
      <%= link_to "Add a Rating", new_provider_rating_path(@provider) %>
  <% end %> 
</div>



<h3>Reviews for <%= @provider.first_name %></h3>

  <div id="review-list">
    <%= render @provider.reviews %>
  </div>

<h3>New Review</h3>

  <%= form_for([@provider, @review]) do |f| %>
    <% if @review.errors.any? %>
      <%= render partial: 'reviews/review_errors' %>
    <% end %>
  
  <% unless current_user %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  <%end%>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
