<div class="provider-info">

	<p><%= @provider.first_name %> <%= @provider.last_name %></p>
	<p><%= @provider.full_address %></p>
	<p><%= @provider.type %></p>
	<p><%= @provider.phone_number %></p>
	<p><%= @provider.waiting_period %></p>
</div>

<div><%= link_to "Add a Rating", root_path %></div>


  <h3>Reviews for <%= @provider.first_name %></h3>

  <% @provider.reviews[0..-2].each do |review| %>
    <p>
      <%= review.comment %>
      <br>
      <% if review.user != nil %>
        <em> by <%= review.user.username %></em>
        Added on: <%= review.created_at %>
      <% else %>
        <em> by <%= review.name %> </em>
        Added on: <%= review.created_at %>
      <% end %>
    </p>
  <% end %>

  <h4>New Review</h4>

  <%= form_for([@provider, @review]) do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <% unless current_user %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  <%end%>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


<div>
	<ul>
		<li><%= link_to 'All Providers', providers_path %></li>
	</ul>
</div>

