<h1>Hello! <%= @user.username %> Welcome to your profile!</h1>

<p> Name: <%= @user.first_name %></p>
<p> Last Name: <%= @user.last_name %></p>
<p> Email: <%= @user.email %></p>

<h4> Your reviews </h4>
<table>
	<% @user.reviews.each do |review| %>
	<li>
		For <%=link_to(review.provider.first_name, provider_path(review.provider))  %> 
		your review is:
		<%=review.comment %>
		<%= link_to 'Edit Review', edit_provider_review_path(review.provider, review) %>
		<%= link_to 'Delete Review', provider_review_path(review.provider, review), confirm: 'Are you sure?', method: :delete %>

	</li>
	<% end %>
</table>

<div>

	<br>
	
	<%= link_to "Edit Profile", edit_user_path(@user) %> | <%= link_to "Delete Profile", @user, method: :delete, data: {confirm: "Are you sure you want to delete this user?"}  %>
</div>



