<h1>Ratings#new</h1>
<p>Find me in app/views/ratings/new.html.erb</p>

<h4>Create a Rating</h4>

  <%= form_for([@provider, @rating]) do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

        <ul>
        <% @rating.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <% unless current_user %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  <%end%>

  <div class="field">
  	<%= f.label :rating  %>
  	<%= f.radio_button_tag(:rating, "1") %>
  </div>


    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


<div>